@use "global" as *;

.access {
    margin-top: rem(80);
    padding-top: rem(30);
    border-top: rem(1) solid $black;
    @include mq(md) {
        margin-top: rem(120);
        padding-top: rem(50);
    }
}

.access-wrapper {
    @include mq(md) {
        display: flex;
    }
}

.access-map {
    height:rem(200);
    @include mq(md) {
        width: rem(550);
        height:rem(350);
    }
}

.access-info {
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(45);
        margin-left: rem(115);
        max-width: rem(430);
    }
}

.access-en-title {
    font-size: rem(16);
    line-height: calc(23.7 / 16);
    color: #000;
    font-weight: $regular;
}

.access-title {
    font-size: rem(24);
    line-height: calc(36 / 24);
    color: #000;
    font-weight: $bold;
    margin-top: rem(2);
    @include mq(md) {
        font-size: rem(36);
        line-height: calc(36 / 36); 
        margin-top: rem(13);
    }
}

.access-desc {
    font-size: rem(16);
    line-height: calc(32 / 16);
    margin-top: rem(15);
    font-weight: $regular;
    @include mq(md) {
        margin-top: rem(33);
    } 
    a {
        text-decoration: underline;
    }
}

.access-title-en {
    font-size: rem(24);
    font-weight: $regular;
    @include mq(md) {
        font-size: rem(28);
    }
}

.access-title-en-sub {
    font-size: rem(16);
    line-height: calc(20 / 16);
    font-weight: $bold;
    margin-top: rem(6);
    @include mq(md) {
        margin-top: rem(10);
    }
}