@use "global" as *;

.footer {
    background-color: $blue;
    padding:rem(19) 0 rem(21) 0;
    margin-top: rem(33);
    @include mq(md) {
        padding:rem(32) 0 rem(28) 0;
        margin-top: rem(80);
    }
}

.footer-copyright {
    text-align: center;
    color: $white;
    font-size: rem(8);
    line-height: calc(10 / 8);
    font-weight: $regular;
    @include mq(md) {
        text-align: left;
        font-size: rem(10);
        line-height: calc(10 / 10);
    }
}